<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>LanConnector</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pico.min.css">
    <style>
        .text-center {
            text-align: center;
        }

        .inline-block {
            display: inline-block;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .flex {
            display: flex;
        }

        .items-start {
            align-items: flex-start;
        }

        .object-contain {
            object-fit: contain;
        }

        .h-full {
            height: 100%;
        }

        .max-w-min {
            max-width: min-content;
        }

        .td-middle {
            vertical-align: middle;
        }
        
        .td-nowrap {
            white-space: nowrap;
        }
        
        .td-wrap {
            word-wrap: break-all;
            white-space: normal;
            overflow-wrap: anywhere;
        }
    </style>
</head>

<body>

    <div class="container" id="app">
        <header class="text-center">
            <div class="inline-block p-10">
                <h1>LanConnector</h1>
                <p>扫码访问(确保网络环境互通)</p>
                <img class="object-contain h-full max-w-min" :src="qrCodeUrl" alt="二维码" />
            </div>
        </header>

        <main>
            <section class="m-10">
                <form @submit.prevent="addItem">
                    <fieldset role="group">
                        <input type="text" v-model.trim="content" placeholder="输入文本发送..." required>
                        <input type="submit" value="保存"/>
                    </fieldset>
                </form>

                <form @submit.prevent="doUploadFile">
                    <fieldset role="group">
                        <input type="file" ref="fileInput" @change="uploadChanged">
                        <input type="submit" :disabled="uploading" value="上传"/>
                    </fieldset>
                </form>
            </section>

            <hr>

            <section>
                <div class="flex items-start">
                    <h2>消息列表：</h2>
                    <a href="#" class="secondary" @click.prevent="saveLocal">存储消息</a>
                </div>
                <table>
                    <thead data-theme="dark">
                        <tr>
                            <th>类型</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items" :key="item.id">
                            <td class="td-middle td-nowrap">{{item.type === 'text' ? '📄' : '🔗'}} {{item.type}}</td>
                            <td class="td-wrap">{{item.content}}</td>
                            <td class="td-middle td-nowrap">
                                <button v-if="item.type === 'text'" @click="copyContent(item.content)">复制</button>
                                <a v-else :href="`/download/${item.id}`" target="_blank">
                                    <button>打开</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>

</body>

<script src="/js/vue.global.min.js"></script>
<script src="/js/axios.min.js"></script>
<script>
    async function requestClipboardPermission() {
        try {
            const permissionStatus = await navigator.permissions.query({ name: 'clipboard-write' });
            console.log(`剪贴板权限状态: ${permissionStatus.state}`);
            return permissionStatus.state;
        } catch (err) {
            console.error('请求剪贴板权限失败: ', err);
            return 'error';
        }
    }

    const { createApp, ref } = Vue
    createApp({
        setup() {
            return {
                qrCodeUrl: "/qrcode?content=" + window.location.href,
            }
        },
        data() {
            return {
                items: ref([]),
                content: ref(''),
                uploadFiles: null,
                uploading: false,
            }
        },
        methods: {
            async fetchItems() {
                try {
                    const response = await axios.get("/msg");
                    this.items = response.data;
                } catch (error) {
                    console.error('获取消息列表失败:', error);
                }
            },
            async addItem(event) {
                event.preventDefault();
                if (!this.content.trim()) return;

                try {
                    await axios.post("/msg", { type: "text", content: this.content });
                    await this.fetchItems();
                    this.content = '';
                } catch (error) {
                    console.error('添加消息失败:', error);
                }
            },
            async saveLocal() {
                try {
                    await axios.post("/save", {});
                    console.log('消息已保存');
                } catch (error) {
                    console.error('保存消息失败:', error);
                }
            },
            uploadChanged(event) {
                this.uploadFiles = event.target.files;
            },
            async doUploadFile(event) {
                event.preventDefault();
                if (!this.uploadFiles?.[0] || this.uploading) return;

                this.uploading = true;
                const form = new FormData();
                form.append('file', this.uploadFiles[0]);

                try {
                    await axios.post('/fs', form);
                    await this.fetchItems();
                    this.$refs.fileInput.value = null;
                } catch (error) {
                    console.error('上传文件失败:', error);
                } finally {
                    this.uploading = false;
                }
            },
            async copyContent(text) {
                try {
                    const permissionStatus = await requestClipboardPermission();
                    if (permissionStatus === 'granted' || permissionStatus === 'prompt') {
                        await navigator.clipboard.writeText(text);
                        console.log(`已复制 "${text}" 到剪贴板`);
                    } else {
                        const tempElement = document.createElement('textarea');
                        tempElement.value = text;
                        document.body.appendChild(tempElement);
                        tempElement.select();
                        document.execCommand('copy');
                        document.body.removeChild(tempElement);
                        console.log(`已复制 "${text}" 到剪贴板`);
                    }
                } catch (err) {
                    console.error('复制文本失败: ', err);
                    alert('复制文本失败');
                }
            },
        },
        mounted() {
            this.fetchItems();
        }
    }).mount('#app')
</script>

</html>